<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

</style>
</head>
<body>
<footer th:fragment="footer">
<nav class="navbar fixed-bottom bg-body-tertiary" style = "background-color: #0404B4; height:60px;">
  <div class="container-fluid">
    <a class="navbar-brand" style = "font-size:15px; color : #F2F2F2; line-height: 40px; margin-left:600px; " >copyright 2023.11.17. 한정아 & 홍가영</a>
  </div>
</nav>

</body>
</html>