<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

</style>
</head>
<body>
<header th:fragment="header2" class="header2">
	<nav class="navbar fixed-top bg-body-tertiary" style = "background-color: #0404B4; height:100px" >
		<div class="container-fluid">
			<a class="navbar-brand mb-0 h1" href="#" style = "margin-left:480px; font-size:45px; color : #F2F2F2;">그냥대학교병원 예약페이지</a>

<!--			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
<!--				<span class="sr-only">Toggle navigation</span>-->
<!--			</button>-->
     		<a class="navbar-brand mb-0 h2" th:href="@{/}" style = "margin-left:300px; font-size:30px; color : #F2F2F2;">MAIN</a>
		</div>
		<div>
		</div>
	</nav>
</header>
<div style="height: 50px;"></div>
</body>
</html>