<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

   
</style>
</head>
<body>
<header th:fragment="header" class="header">


<nav class="navbar fixed-top bg-body-tertiary" style = "background-color: #0404B4; height:100px;" >
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="#" style = "margin-left:270px; font-size:45px; color : #F2F2F2;">안녕하세요. 그냥대학교병원 예약 홈페이지입니다.</a>
  </div>
</nav>


</header>

</body>
</html>