<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
<style type="text/css">
   
</style>
<script type="text/javascript">

</script>
</head>
<body>
<div layout:fragment="content">
<div id="container">
   <h1>일정 추가하기</h1>
   <form th:action="@{/schedule/addCalBoard}" method="post" th:object="${insertCalCommand}">
   <input type="hidden" name="useremail" th:value="${session.ldto.useremail}"/>

	   <table class="table">
  
         <tr>
            <th>일정</th>
            <td>
               <select name="year" >
                  <th:block th:each="i:${#numbers.sequence(insertCalCommand.year,insertCalCommand.year+5)}">
                     <th:block th:if="${insertCalCommand.year == i}">
                        <option th:value="${i}" th:text="${i}" selected="selected"></option>
                     </th:block>
                     <th:block th:unless="${insertCalCommand.year == i}">
                        <option th:value="${i}" th:text="${i}"></option>
                     </th:block>
                  </th:block>
               </select>년
               <select name="month" >
                  <th:block th:each="i:${#numbers.sequence(1,12)}">
                     <th:block th:if="${insertCalCommand.month == i}">
                        <option th:value="${i}" th:text="${i}" selected="selected"></option>
                     </th:block>
                     <th:block th:unless="${insertCalCommand.month == i}">
                        <option th:value="${i}" th:text="${i}"></option>
                     </th:block>
                  </th:block>
               </select>월
               <select name="date" >
                  <th:block th:each="i:${#numbers.sequence(1,31)}">
                     <th:block th:if="${insertCalCommand.date == i}">
                        <option th:value="${i}" th:text="${i}" selected="selected"></option>
                     </th:block>
                     <th:block th:unless="${insertCalCommand.date == i}">
                        <option th:value="${i}" th:text="${i}"></option>
                     </th:block>
                  </th:block>
               </select>일
              
            </td>
         </tr>
        
         <tr>
            <th>거래구분</th>
            <td>
				<select name = "mio">
			        <option th:value="수입">수입</option>
			        <option th:value="지출">지출</option>
			    </select>
            </td>
         </tr>
         <tr>
            <th>내용</th>
            <td>
            	<input type="text" name="content" th:field="*{content}" 
												class="form-control"/>
               
               <span class="errorField" th:if="${#fields.hasErrors('content')}" 
                                  th:errors="*{content}"></span>
            </td>
         </tr>
        <tr>
            <th>금액</th>
            <td>
               <input type="number" name="money" th:field="*{money}" 
												class="form-control"/>
												
										
            </td>
         </tr>
    
         <tr>
            <td colspan="2">
               <input type="submit" value="추가"/>
               <input type="button" value="달력" th:onclick="|location.href='@{/schedule/calendar}'|">
            </td>
         </tr>
      </table>
   </form>
</div>
</div>
</body>
</html>





