<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hk.fintech.mapper.AccountMapper">

    <resultMap id="accountResultMap" type="com.hk.fintech.dtos.AccountDto">
        <id property="useremail" column="USEREMAIL"/>
        <result property="tran_date" column="TRAN_DATE"/>
        <result property="inout_type" column="INOUT_TYPE"/>
        <result property="tran_amt" column="TRAN_AMT"/>
        <result property="print_content" column="PRINT_CONTENT"/>
    </resultMap>

    <insert id="insertTransactionData" parameterType="AccountDto">
        INSERT INTO FINTECH_ACCOUNT VALUES (#{useremail},#{tran_date},#{inout_type},#{tran_amt},#{print_content})
    </insert>
    
    <select id ="TransactionDataList" parameterType = "AccountDto" resultType="AccountDto">
		SELECT USEREMAIL, TRAN_DATE, INOUT_TYPE, TRAN_AMT, PRINT_CONTENT
		FROM FINTECH_ACCOUNT
		WHERE USEREMAIL = #{useremail}
	</select>
	
	<select id="Account" parameterType="Map" resultType="AccountDto">
<!-- 		SELECT RN, USEREMAIL, tran_date, inout_type, tran_amt, print_content -->
<!-- 		FROM (SELECT ROW_NUMBER() OVER(PARTITION BY tran_date ORDER BY tran_date) RN, USEREMAIL, tran_date, inout_type, tran_amt, print_content -->
<!-- 			FROM FINTECH_ACCOUNT -->
<!-- 			WHERE USEREMAIL = #{useremail} AND DATE_FORMAT(tran_date, '%Y%m') =#{yyyyMM}) cal -->
<!-- 		WHERE RN BETWEEN 1 AND 2 -->

		SELECT  inout_type, sum(tran_amt) as 'tran_amt', tran_date
		FROM FINTECH_account
		WHERE USEREMAIL = #{useremail} AND DATE_FORMAT(tran_date, '%Y%m') =#{yyyyMM}
		GROUP BY inout_type, tran_date
	</select>

</mapper>
