<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<style type="text/css">

</style>
</head>

<body>
<header th:fragment="header" class="header">

   <nav class="navbar navbar-expand-lg navbar-dark" style="font-size: 25px; font-family: Arial,  sans-serif; font-weight: bolder; width: auto; background-color: white;">
        <div class="container" style="margin-left: 30px; width: auto;">           
          <img src="/resources/img/SSM.png" width="45" height="40" class="d-inline-block align-top" alt=""/>
          <a class="nav-link" th:onclick="|location.href='@{/banking/main}'|" style="color: #3C4048; font-family: Arial,  sans-serif; font-weight: bolder; " >
          S.S.M
           </a>           
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 830px; ">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
<!--                    <li class="nav-item"><a class="nav-link active"  href="/banking/main" style="white-space: nowrap; color: #3C4048;" th:text="${session.ldto.usernamae"}>님</a></li>-->
                    <li class="nav-item"><a class="nav-link" th:href="@{/schedule/calendar}" style="color: #3C4048;">Calender</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/banking/myinfo}" style="color: #3C4048;" th:onclick="myinfo()">MyPage</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/logout}" style="color: #3C4048;">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>
</body>
</html>